body {
    background-color: lightyellow;
    font-family: Tahoma, sans-serif;
}

#myHeader {
    color: pink;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#myParagraph {
    color: lightcoral;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#textParagraph {
    color: rgb(68, 64, 64);
    text-align: center;
    padding: 14px 16px;
}

.navbar {
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: rgb(240, 166, 166);
    }

    ul li {
    margin: 0;
    }

    ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    ul li a:hover {
    background-color: pink;
    }
}

.about-us {
    padding: 20px;
}

.about-us h3 {
    color: rgb(68, 64, 64);
    background-color: rgb(240, 166, 166);
    padding: 4px 8px;
    display: inline-block;
}

.about-us p {
    color: rgb(68, 64, 64);
}

#footer-text {
    text-align: center;
    background-color: rgb(240, 166, 166);
    color: black;
    bottom: 0;
    width: 100%;
    padding: 2px;
}

.hero {
    background-image: url("./assets/Orange-Cat-1.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cat {
    background-image: url("./assets/zen_cat.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-owner {
    background-image: url("./assets/ginger_tortie_calico.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cart {
    background-image: url("./assets/look_up_cat.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}