body {
    background-color: lightyellow;
    font-family: Tahoma, sans-serif;
}

#myHeader {
    color: pink;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#myParagraph {
    color: lightcoral;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#textParagraph {
    color: rgb(68, 64, 64);
    text-align: center;
    padding: 14px 16px;
}

.about-us {
    padding: 20px;
}

.about-us h3 {
    color: rgb(68, 64, 64);
    background-color: rgb(240, 166, 166);
    padding: 4px 8px;
    display: inline-block;
}

.about-us p {
    color: rgb(68, 64, 64);
}

#footer-text {
    text-align: center;
    background-color: rgb(240, 166, 166);
    color: black;
    bottom: 0;
    width: 100%;
    padding: 2px;
}

.hero {
    background-image: url("./assets/Orange-Cat-1.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cat {
    background-image: url("./assets/zen_cat.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-owner {
    background-image: url("./assets/ginger_tortie_calico.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-cart {
    background-image: url("./assets/look_up_cat.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.pagination .page-link {
  color: black;
  background-color: rgb(240, 166, 166);
  border-color: rgb(240, 166, 166);
}

.pagination .page-item.active .page-link {
  background-color: rgb(240, 166, 166);
  border-color: rgb(240, 166, 166);
  color: black;
}

.pagination .page-link:hover {
  background-color: pink;
  border-color: pink;
  color: black;
}

.pagination .page-item.disabled .page-link {
  background-color: lightgray;
  border-color: lightgray;
  color: gray;
}

.nav-link svg {
  position: relative;
  top: -2px;
}

.btn:hover {
  background-color: pink !important;
  border-color: pink !important;
}